---
---
<header>
  <nav>
    <h1>icono</h1>
    <section>
      <ul>
        <li>nuestra iglesia</li>
        <li>predicas</li>
        <li>soy nuevo</li>
        <li>lugar</li>
        <li>contenidos</li>
        <li>grupos</li>
        <li>mas</li>
      </ul>
    </section>
    <section>
      <h2>buscar</h2>
      <button>donaciones</button>
    </section>
  </nav>
</header>
